<h1>Welcome to WorksMart, the worksheet maker for teachers.</h1>

<form>
	<h4>Worksheet type</h4>
	<input type="radio" name="worksheet_type" value="multiplication">Multiplication</input>
	<br/>
	<input type="radio" name="worksheet_type" value="exponentiation">Exponentiation</input>
</form>
